/* Quita el margen y el relleno predeterminado del body*/
*{
    padding: 0px;
    margin: 0px;
}
/* Google Font para los titulos*/
h1{
    font-family: 'Bungee Shade', cursive;
    font-size: 4rem;
}
h2, h3, li{
    font-family: 'Roboto', sans-serif;
}

/* Titulos*/
h3,h1 {
    padding: 1rem;
}
/*H4 es el texto del footer*/
h4{
font-size: 0.8rem;
font-family: 'Roboto', sans-serif;
padding: 0.5rem 1rem;
}

.section-footer-container > p {
    padding: 0.5rem 1rem ;
    font-size: 0.8rem;
}

p, main > ul > li {
    font-family:  sans-serif; 
}

/* Posicion fija arriba de todo*/
.header{
    width: 100%;

    position: fixed;
    left: 0;
    right: 0;
    top:0;   
}
/* Aplica a todos los enlaces (a) dentro de la clase header son blancos y no tienen el subrayado predeterminado de los links */
.header a {
    text-decoration: none;
    color: white;
}
/* Colocar el logo de la nav por un lado, y los elementos de la lista por otro lado. Cuando no hay espacio para que un elemento esté al lado del otro, con la propiedad wrap se acomodan abajo sin forzar */
.logo-nav-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap:wrap;
}
/* A todos los elementos ul que están dentro de la clase navegacion les quito el margen y el relleno */
.navegacion ul {
    margin: 0;
    padding: 0;
}
/* En desktop se muestran como elementos inline-block => uno al lado del otro*/
.navegacion ul li {
    display: inline-block;
}
/* En desktop se muestran los enlaces (a) como elementos de bloque*/
.navegacion ul li a{
    display: block;
    padding: 1.5rem 1.5rem;
}
/* A todos los elementos de enlace (a), que testan dentro de la lista (li) les agregamos un hover => cuando pasamos el mouse por encima entonces cambia el color. Le agregué un efecto de transición al hover y un borde redondeado */
.navegacion ul li a:hover{
    background-color: rgba(216, 211, 216, 0.616);
    transition: all 0.5s linear;
    border-radius: 50px;
}
/* El logo*/
.logo {
    width: 120px;
    padding-left: 1rem;
}
/* El main tiene un ancho del 85% de la pantalla, y es flexible */
.main-container{
    padding: 10rem 2rem;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}
/* Las tarjetas que contienen el avance de los Challenges diarios */ 
.card{
    padding: 2rem;
    margin: 1rem;
}
/* Quité el estilo de item que viene predeterminado con las listas */ 
ul li{
    list-style: none;
}
/*El menu no se mostrará en vista deskptop*/
#menu-burger{
    display: none;
}

footer{
    background-color:rgba(216, 211, 216, 0.616);
    width: 100vw;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
}

.section-footer-container{
display: flex;
justify-content: center;
flex-direction: column;
}
.iconos-container{
    width: 30vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.fa-github, .fa-instagram, .fa-behance {
    font-size: 2rem;
    padding: 0.3rem;
    text-align: center;
}

/*/////////////////////////////////////////////////////////////////////////////////*

/* Los estilos se van a aplicar solo cuando la pantalla tenga => máximo 767px */
@media only screen and (max-width: 767px){
    .navegacion{
        width: 100%;
        margin: 1rem;
    }
    .navegacion ul li {
        display: block;
    }
/* Cuando los elementos no tienen suficiente espacio se posicionan uno abajo del otro */
    .card-container{
        flex-wrap: wrap;
        justify-content: center;
    }
/* Estilo del menu hamburguesa, para dispotivos moviles */
    #menu-burger{
        display: block;
        cursor: pointer;
        padding: 2rem;
        color: white;
    }
    /* Cuando el elemento de navegacion tiene la clase show, entonces el menu se muestra */
    .navegacion ul.show{
        display: block;
    }
    /* Si le quitamos la clase 'show' el menú, no se muestra */
    .navegacion ul{
        display: none;
    }
    /* Quito los margenes de los items de la lista para que no se vean tan separado */
    .navegacion ul li a{
        padding:1rem;
    }
    .navegacion{
        margin:0;
    }
    h1{
        font-size: 2rem;
    }
    .iconos-container{
        width: 30vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-right: 1.5rem;
    }
}